<%- contentFor('body') %>

<h1 class="mb-4">
    <%=produto.nome%>
</h1>
<p class="lead">Postado por <a href="#"><%=produto.Usuario.email%></a></p>
<hr>
<p class="text-muted">postado em <%=produto.postadoEm%></p>
<hr>
<img class="img-fluid rounded mb-4" src="<%=produto.foto%>" alt="Computador">

<%-produto.descricao%>